{% extends 'base.html' %}

{% block content %}
<div>
    <form method="POST">
        <div class="mb-3">
            <label for="validationPhoneNumber" class="form-label">Номер телефона</label>
            <div class="input-group has-validation">
                <input type="text"
                    class="form-control {% if isnt_valid %}is-invalid{% endif %} {% if not isnt_valid and request.method == 'POST' %}is-valid{% endif %}"
                    name="phone_number" id="validationPhoneNumber"
                    aria-describedby="inputGroupPrepend3 validationPhoneNumberFeedback" placeholder="8-ХХХ-ХХХ-ХХ-ХХ"
                    value="{{ phone_number or '' }}">
                {% if isnt_valid %}
                <div id="validationPhoneNumberFeedback" class="invalid-feedback">
                    {{ error_msg }}
                </div>
                {% endif %}
                {% if not isnt_valid and request.method == 'POST' %}
                <div class="valid-feedback">
                    Всё правильно!
                </div>
                {% endif %}
            </div>
        </div>
        <button class="btn btn-primary mb-3" type="submit">Проверить</button>
    </form>
</div>
{% endblock %}